# Ignore HDF5 trial data
database/**/*.h5
database/*.h5

# Ignore Python specific files
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
.gemini/
.agents/